nav{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    margin: 0;
    padding: 0;
    width: 100%;
    background-image:  url("https://i.pinimg.com/originals/28/4e/3f/284e3f10fc09149ce023fa5041299176.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
    background-color: rgb(40, 36, 55);
  }

